@import '../../style/media-queries.scss';
.resultItem {
  margin-bottom: 16px;
}

.root {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  @include matchSmall {
    column-gap: 20px;
    grid-template-columns: auto auto;
  }
  @include matchMedium {
    grid-template-columns: auto;
  }
}
